{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseNine"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseNine"
      >
        Основная пожарная техника
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingNine"
    >
      <div class="accordion-body">
        
        <form 
          action={% url 'fire-equip' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form        
      </div>
    </div>
  </div>
  {% endblock card_info %}  