{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button 
        class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
        Руководители тушения пожара
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFour"
      class="accordion-collapse"
      aria-labelledby="panelsStayOpen-headingFour"
    >
      <div class="accordion-body">
        <form 
          action={% url 'fire-manager-edit' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>  
</div>
{% endblock card_info %}