{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen">
      <button
        class="accordion-button"
        type="button"
      >
        Последствия пожара(здания и сооружения)
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseSeventeen"
    >
      <div class="accordion-body">
        <form 
          action={% url 'fire-conseq-building' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form>        
      </div>
    </div>
  </div>
  {% endblock card_info %}{% comment %}  {% endcomment %}