{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button 
        class="accordion-button" type="button">    Руководители тушения пожара
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFour"
    >
      <div class="accordion-body">
        <form 
          action={% url 'fire-manager-edit' card_id %} method="POST">
          {% csrf_token %}
          {{ form }}              
          <input type="submit" value="Отправить" class="btn btn-outline-primary">
        </form>
      </div>
    </div>
  </div>  
</div>
{% endblock card_info %}