{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
      >
        Основная пожарная техника
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseNine"
    >
      <div class="accordion-body">
        
        <form 
          action={% url 'fire-equip' card_id %} method="POST">
          {% csrf_token %}
          {{ form }}              
          <input type="submit" value="Отправить" class="btn btn-outline-primary">
        </form        
      </div>
    </div>
  </div>
  {% endblock card_info %}  