{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
      <button
        class="accordion-button collapsed"
        type="button"
      >
        Огнетушащие вещества, поданные на тушение пожара
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseThirteen"
    >
      <div class="accordion-body">
        
        <form 
          action={% url 'fire-exting-agents' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form>

      </div>
    </div>
  </div>
  {% endblock card_info %}