{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'main_style.css'%}" />
    <title>My main page</title>
</head>
<script>
    let host = "http://127.0.0.1:8000/town";
</script>

<body>
    <header class="header">
        <div class="header-inner">
            {% if user.is_authenticated %}
            <a>Привет: {{ user.first_name }}</a>
            <a class="btn btn-outline-primary" href={% url 'logout' %}>Выход</a> {% else %}
            <a class="btn btn-outline-primary" href={% url 'register' %}>Регистрация</a>
            <a class="btn btn-outline-primary" href={% url 'my-login' %}>Вход</a> {% endif %}
        </div>
    </header>

    <h1 class="cntr header">Список карточек боевых действий</h1>
   
     
    <a class="btn btn-primary marg butn-color" href={% url 'card-create' %} aria-pressed="true">Создать новую запись</a>
    <table id="app" class="table">
        <form action={% url 'index' %} action="get" class="form-group">
        <tr>
            <th>ИД</th>
            <th>{{ filter_form.settlement }} Населённый пункт</th>
            <th>{{ filter_form.locality_type }}Вид населённого пункта</th>
            <th> Дата последнего изменения</th>
            <th>{{ filter_form.address }} Адрес места пожара </th>
            <th>{{ filter_form.point_of_contact }} Район выезда ПЧ </th>
            <th>{{ filter_form.fire_object }} Объект пожара </th>
            <th>{{ filter_form.floors_number }} Этажность объекта </th>
            <th>{{ filter_form.degree_of_fireres }} Степень огнестойкости </th>
            <th class="filter-class"><input type="submit" value="Фильтровать"></th>
        </tr>
    </form>   
        {% for card in cards %}
        <tr>
            <td>{{ card.card_id }}</td>
            <td>{{ card.settlement }}</td>
            <td>{{ card.locality_type }}</td>
            <td>{{ card.update }}</td>
            <td>{{ card.address }}</td>
            <td>{{ card.point_of_contact }}</td>
            <td>{{ card.fire_object }}</td>
            <td>{{ card.floors_number}}</td>
            <td>{{ card.degree_of_fireres }}</td>
            <td>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Действие
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item"  href={% url 'card-edit' card_id=card.card_id %}>Редактировать</a></li>
                  <li><a class="dropdown-item"  href={% url 'card-dublicate' card_id=card.card_id %}>Дублицировать</a></li>
                  <li><a class="dropdown-item"  href={% url 'pdf-1' card_id=card.card_id %}>Скачать pdf</a></li>
                </ul>
              </div>          
            </td>

        </tr>            
        {% endfor %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>