{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
      >
        Временные показатели
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseTwo"
    >
      <div class="accordion-body">
        <form 
          action={% url 'time-indicators' card_id %} method="POST">
          {% csrf_token %}
          {{ form }}              
          <input type="submit" value="Отправить" class="btn btn-outline-primary">
        </form>
      </div>
    </div>
  </div>
  {% endblock card_info %}