{% extends 'base_card.html' %}
{% block card_info %}
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFourteen">
      <button
        class="accordion-button collapsed"
        type="button"
      >
        Подано стволов на тушение пожара
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFourteen"
    >
      <div class="accordion-body">
        trunks-to-exting-fire
        <form 
          action={% url 'trunks-to-exting-fire' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form>

      </div>
    </div>
  </div>
  {% endblock card_info %}  