{% extends 'base_card.html' %}
{% block card_info %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
      <button
        class="accordion-button collapsed"
        type="button"
      >
        Водоснабжение на пожаре
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseTwelve"
    >
      <div class="accordion-body">
        <form 
          action={% url 'water-supply-on-fire' card_id %} method="POST">
          {% csrf_token %}
          {{ form.as_p }}              
          <input type="submit" value="Submit">
        </form>        
      </div>
    </div>
  </div>
  {% endblock card_info %}  