* {
    font-family: Noto Sans, sans-serif !important;
}


/* body {
  background: linear-gradient(90deg, #7247D7, #8D6DD7) !important;
} */

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #706d6d;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #620CAC;
    border: 1px solid #414040 !important;
    color: #ffffff;
}

.table td {
    border: 1px solid #414040 !important;
    padding: 5px;
}

.tbody {
    border: 1px solid #706d6d !important;
}

.marg {
    margin: 20px;
}

.cntr {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.btn-primary {
    background-color: #6824a3;
    border-color: #620CAC;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4212AF !important;
}

.filter_form {
    display: flex;
}

.card-info-items-container {
    display: flex;
    margin-top: 20px;
}

.card-info-items {
    width: 20%;
}

.card-content {
    width: 75%;
    margin: 0 auto;
}