* {
    font-family: Noto Sans, sans-serif !important;
}


/* .accordion-body{
    background: linear-gradient(90deg, #7247D7, #8D6DD7) !important;
} */

.btn-primary {
    background-color: #6824a3;
    border-color: #620CAC;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4212AF !important;
}

.row {
    margin-bottom: 10px;
}

.btn {
    margin-top: 20px;
}

.min {
    text-align: center !important;
}

.card-info-item {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2px;
    width: 100% !important;
}

.card-info-link {
    text-decoration: none;
    color: #620CAC !important;
}

.btn-outline-primary {
    border-color: #620CAC !important;
    color: #620CAC !important;
}

.btn-outline-primary:hover {
    background-color: #6824a3 !important;
    border-color: #620CAC !important;
}